<section class="our-articles bg-light-white section-padding">
  <div class="container-fluid custom-container">
    <div class="row">
      <aside class="col-xl-3 col-lg-4">
        <app-donation-sidebar></app-donation-sidebar>
      </aside>
      <div class="col-xl-9 col-lg-8">
        <div class="main-box padding-20 full-width sa-causes-single sa-causes-single-2  mb-md-40">
          <!--                    <div class="post-wrapper mb-xl-20">-->
          <!--                        <div class="blog-item-img">-->
          <!--                            <img src="/assets/img/about-us.jpg" class="img-fluid full-width" alt="about us images">-->
          <!--                        </div>-->
          <!--                    </div>-->
          <div class="text-light-white mb-xl-20">
            <div class="entry-content">
              <p>KAHEF e.V.</p>
              <p>Anschrift<br>
                Address: Bredowstr. 9, 44309 Dortmund</p>
              <p>Kontakt<br>+49 1590 1496003</p>
              <p>Registergericht:  Amtsgericht Dortmund <br>
                Registernummer: : Vereinsregister-Nummer VR 7335 </p>
              <p>Vorstand: Lionel Tambe Eyong Nkongho</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
