<section class="our-articles bg-light-white section-padding" >
    <div class="container-fluid custom-container">
        <div class="row">
          <aside class="col-xl-3 col-lg-4">
            <app-donation-sidebar></app-donation-sidebar>
          </aside>
            <div class="col-xl-9 col-lg-8">
                <div class="main-box padding-20 full-width sa-causes-single sa-causes-single-2  mb-md-40">
                    <div class="post-wrapper mb-xl-20">
                        <div class="blog-item-img">
                            <img src="/assets/img/about-us.jpg" class="img-fluid full-width" alt="about us images">
                        </div>
                    </div>
                  <div class="text-light-white mb-xl-20">
                    <p>KAHEF – Kamerun Heritage Foundation Dortmund e.V ist ein eingetragener gemeinnütziger Verein, der gemeinsam von Kamerunischen Mitbürgern in Dortmund gegründet wurde.
                      Der Schwerpunkt der Arbeit von KAHEF Dortmund e.V ist die persönliche Beratung, Betreuung und Begleitung der Migranten und Geflüchteten aus Sub-Sahara Afrika bei der Bewältigung ihres Alltags, Förderung des solidarischen Zusammenlebens von Menschen aus verschiedenen Kulturen und Förderung der Familien- und Elternarbeit. Förderung der Menschenrechte und Chancengleichheit für benachteiligte Gruppen und Förderung der Entwicklungszusammenarbeit und der internationalen Beziehungen zwischen Deutschland
                      und Kamerun.</p>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>
