<section class="our-articles bg-light-white section-padding" >
    <div class="container-fluid custom-container">
        <div class="row">
          <aside class="col-xl-3 col-lg-4">
            <app-donation-sidebar></app-donation-sidebar>
          </aside>
            <div class="col-xl-9 col-lg-8">
                <div class="main-box padding-20 full-width sa-causes-single sa-causes-single-2  mb-md-40">
                    <div class="post-wrapper mb-xl-20">
                        <div class="blog-item-img">
                            <img src="/assets/img/about-us.jpg" class="img-fluid full-width" alt="about us images">
                        </div>
                    </div>
                  <div class="text-light-white mb-xl-20">
                    <p><a href="https://kahef.de">Kahef</a> – Community at Heart Dortmund e.V. ist ein eingetragener entwicklungs- oder integrationspolitischer Verein mit Sitz in Dortmund-Dorstfeld. „ Wir sind eine interkulturelle Plattform für eine solidarische, menschenwürdige und nachhaltige Gesellschaft…“ Der Verein beschäftigt sich gegenwärtig schwerpunktmäßig mit folgenden Ziele und </p>
                    <ul>
                      <ul>
                        <p class="blog-title text-light-black">Angebote:</p>
                        <li>    Förderung des solidarischen Zusammenlebens von Menschen aus verschiedenen Kulturen</li>
                        <li>    Förderung der Familien- und Elternarbeit</li>
                        <li>    Prävention, Aufklärung und Gesundheitsförderung</li>
                        <li>    Interkulturelle und entwicklungspolitische Bildungsarbeit zu unterschiedlichen Themen</li>
                        <li>    Aktionen/Kampagne über Ressourcenschutz und nachhaltiges Lebenstil</li>
                        <li>    Engagement für eine menschenwürdige Welt und eine nachhaltige Gesellschaft</li></ul>

                    </ul>
                    <ul>
                      <p class="blog-title text-light-black">MITGLIEDSCHAFTEN</p>
                      <li>    IDV Interessengemeinschaft Dortsfelder Vereine e. V.</li>
                      <li>    AFRIDO – Das Netzwerk der Afrikaner in Dortmund und Umgebung</li>
                      <li>    AGHNiD (Afrikanisches Gesundheits-&amp; HIV Netzwerk in Deutschland)</li>
                    </ul>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>
