<section class="our-articles bg-light-white section-padding" >
    <div class="container-fluid custom-container">
        <div class="row">
          <aside class="col-xl-3 col-lg-4">
            <app-donation-sidebar></app-donation-sidebar>
          </aside>
          <div class="col-xl-9 col-lg-8">
            <div class="main-box padding-20 full-width sa-causes-single sa-causes-single-2  mb-md-40">
              <div class="post-wrapper mb-xl-20">
                <div class="blog-item-img">
                  <img src="/assets/img/become-a-volunter.jpg" class="img-fluid full-width" alt="become a volunter">
                </div>
              </div>
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="my-5">
                        <h3 class="mt-2 -mb-2">Warum sich bei uns engagieren?</h3>
                        <div class="my-2">
                          Freiwillige Helfer sind für die Arbeit von Community at Heart Dortmund (COHEDO) von
                          entscheidender Bedeutung. Mit Hilfe unserer hervorragenden Freiwilligen leisten wir
                          Unterstützung in unseren lokalen Gemeinschaften im In- und Ausland und sichern eine bessere
                          Umwelt für die zukünftige Generation der Welt.
                        </div>
                      </div>
                      <div class="section-header-left title">
                        <h3 class="text-light-black header-title"></h3>
                      </div>
                      <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                        <div class="row clearfix">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control form-control-submit" name="name"
                                     [(ngModel)]="model.name" placeholder="Name und Vorname" required>
                            </div>
                            <div class="form-group">
                              <input type="email" name="email" [(ngModel)]="model.email" class="form-control form-control-submit"
                                     placeholder="Email" required>
                            </div>
                            <div class="form-group">
                              <input type="text" name="phone"
                                     [(ngModel)]="model.phone" class="form-control form-control-submit"
                                     placeholder="Telefon" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="message"
                                          [(ngModel)]="model.message" class="form-control form-control-submit"
                                          placeholder="Motivationen" required [style.height.px]="170"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 mb-2">
                            <button class="btn-solid with-line" type="submit">Senden</button>
                          </div>
                          <!-- Form Messages -->
                          <div class="col-md-12">
                            <div class="service-error mt-4 w-100" *ngIf="error">
                              <ngb-alert type="danger" class="mb-0 w-100" [dismissible]="false">
                                <strong>Oops!</strong> Es ist etwas Schlimmes passiert. Bitte versuche es später noch einmal.
                              </ngb-alert>
                            </div>
                            <div [hidden]="!submitted" class="contact-message w-100 mt-4">
                              <div *ngIf="model.id" class="contact-success w-100">
                                <ngb-alert type="success" class="mb-0 w-100" [dismissible]="false">
                                  <strong>Erfolg!</strong> Das Kontaktformular wurde erfolgreich abgeschickt.
                                </ngb-alert>
                              </div>
                            </div>
                          </div>
                          <!-- Form Messages -->
                        </div>
                      </form>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
    </div>
</section>
