<section class="section-padding contact-form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left title">
          <h3 class="text-light-black header-title">Get In Touch</h3>
        </div>
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="row clearfix">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control form-control-submit" name="name"
                       [(ngModel)]="model.name" placeholder="Dein Name (Pflichtfeld)" required>
              </div>
              <div class="form-group">
                <input type="email" name="email" [(ngModel)]="model.email" class="form-control form-control-submit"
                       placeholder="Deine E-Mail-Adresse (Pflichtfeld)" required>
              </div>
              <div class="form-group">
                <input type="text" name="subject"
                       [(ngModel)]="model.subject" class="form-control form-control-submit"
                       placeholder="Betreff" required>
              </div>
              <div class="form-group">
                <input type="text" name="phone"
                       [(ngModel)]="model.phone" class="form-control form-control-submit"
                       placeholder="Telefon" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                                <textarea name="message"
                                          [(ngModel)]="model.message" class="form-control form-control-submit"
                                          placeholder="Deine Nachricht" required [style.height.px]="225"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn-solid with-line" type="submit">Senden</button>
            </div>
            <!-- Form Messages -->
            <div class="col-md-12">
              <div class="service-error mt-4 w-100" *ngIf="error">
                <ngb-alert type="danger" class="mb-0 w-100" [dismissible]="false">
                  <strong>Oops!</strong> Something bad happened. Please try again later.
                </ngb-alert>
              </div>
              <div [hidden]="!submitted" class="contact-message w-100 mt-4">
                <div *ngIf="model.id" class="contact-success w-100">
                  <ngb-alert type="success" class="mb-0 w-100" [dismissible]="false">
                    <strong>Success!</strong> Contact form has been successfully submitted.
                  </ngb-alert>
                </div>
              </div>
            </div>
            <!-- Form Messages -->
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
<div class="contact-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d539068.5325410569!2d9.7141273930461!3d51.124016185903095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sAllemagne!5e0!3m2!1sfr!2scm!4v1643811471997!5m2!1sfr!2scm"
    [style.height.px]="300"></iframe>
</div>
