<app-top-bar></app-top-bar>
<app-header></app-header>
<app-banner></app-banner>
<app-donation-box></app-donation-box>
<app-blog-post></app-blog-post>

<app-best-sellers></app-best-sellers> 
<!-- <app-service-type></app-service-type> -->
<!-- <app-team></app-team> -->
<!-- <app-video-cta></app-video-cta> -->

<!-- <app-product-box></app-product-box> -->
<!-- <app-advertisement></app-advertisement> -->
<!-- <app-shop-box></app-shop-box> -->
<div class="my-3">
    <app-testimonials></app-testimonials>
</div>

<app-footer></app-footer> 