<section class="our-articles bg-light-white section-padding">
  <div class="container-fluid custom-container">
    <div class="row">
      <aside class="col-xl-3 col-lg-4">
        <app-donation-sidebar></app-donation-sidebar>
      </aside>
      <div class="col-xl-9 col-lg-8">
        <div class="main-box padding-20 full-width sa-causes-single sa-causes-single-2  mb-md-40">
          <div class="post-wrapper mb-xl-20">
            <div class="blog-item-img">
              <img src="/assets/img/donate.jpg" class="img-fluid full-width" alt="about us images">
            </div>
          </div>
          <div class="text-light-white mb-xl-20">
            <p>Die Kahef e.V. setzt sich mit zahlreichen Seminaren, Workshops, Aktionen und Projekten für die
              Integration und miteinander leben von Menschen, mit oder ohne Migrationshintergrund, und der
              Entwicklungszusammenarbeit ein. </p>
            <p>Wir sind eine interkulturelle Plattform für eine solidarische, menschenwürdige und nachhaltige
              Gesellschaft und bieten Raum für das Engagement von Frauen und Jugendlichen für eine lebenswerte
              Zukunft.</p>
            <p>Ihr wollt die Kahef e.V. unterstützen, doch wisst nicht wie? – Euch ist ein gemeinsames Leben oder das
              Wohlbefinden aller Menschen auf der Erde als Lebensgrundlage wichtig. Ihr möchtet selbst einen Beitrag zur
              Entwicklung beisteuern?</p>
            <p>Mit einer Spende könnt ihr Kahef e.V. in ihren Aktivitäten und Veranstaltungen unterstützen und somit
              die Öffentlichkeitswirksamkeit erhöhen. Auch für spezielle Vorhaben wie Entwicklungszusammenarbeit oder
              das Projekt „Hand Gottes“ benötigen wir jede finanzielle Unterstützung. – Jede Spende zählt, so klein sie
              auch sein mag!</p>

            <ul>
              <ul>
                <strong>Unsere Bankverbindung für Spenden</strong>
                <li> IBAN: DE77 3701 0050 0993 6645 02</li>
                <li>BIC: PBNKDEFF</li>
                <li>BANK: POSTBANK</li>
              </ul>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
