<section class="our-articles bg-light-white section-padding">
  <div class="container-fluid custom-container">
    <div class="row">
      <aside class="col-xl-3 col-lg-4">
        <app-donation-sidebar></app-donation-sidebar>
      </aside>
      <div class="col-xl-9 col-lg-8">
        <section class="browse-cat bg-theme-primary">
          <div class="container-fluid custom-container">
            <div class="row">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi consectetur corporis delectus,
              ea eius enim excepturi fuga laboriosam modi, necessitatibus, neque nostrum perspiciatis repellat saepe
              similique soluta vero voluptas.
            </div>

          </div>
        </section>

      </div>

    </div>
  </div>
</section>
